<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Clarity Counseling Services - Champaign, IL - Mental Health Provider</title>
    <meta name="description" content="Clarity Counseling Services (CCS) offers professional counseling and therapy for all ages in
    Champaign, IL with licensed counselor Terri Medwed. A free 15 minute consultation can help you decide if CCS is right for you.">
    <meta name="msvalidate.01" content="3AE92741BA1B31D1883DEE61FC54B744" />
    <meta name="viewport" content="width=device-width">



    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- custom fonts -->
    <link href='http://fonts.googleapis.com/css?family=Abel|Poiret+One|Shadows+Into+Light|Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Analytics tracking code: -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63340889-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body ng-app="clientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="header-brand-wide">
<div class="header-brand hidden-xs">
<div class="row">
  <div class="col-md-3 col-xs-2"><a href="index.html"><img src="images/CCSlogo.png" alt="CCS" class="img-rounded img-responsive"></a></div>
    <div class="col-md-3 col-xs-0"> </div>
      <div class="col-md-6 col-xs-10"> <!-- <a class="btn btn-info"" href="#/" role="button">Request an Appointment</a>  -->
        <h4>206 N. Randolph Street, Suite M106 - Champaign, IL 61820</h4><h4>terri@claritycounselingservices.com</h4><h4>217.390.6819</h4></div>

</div>

</div>
</div>
<!-- DROPDOWN MENU
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- <a class="navbar-brand" href="#/">Clarity Counseling Services</a>
           </div>

           <div class="collapse navbar-collapse" id="js-navbar-collapse">

             <ul class="nav navbar-nav pull-right">

               <li class="dropdown">
                 <a data-toggle="dropdown" class="dropdown-toggle">About<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li>
                     <a href="#/philosophy">Philosophy</a>
                   </li>
                   <li>
                     <a href="#/contact">Contact Us</a>
                   </li>
                   <li>
                     <a href="#/media">Office Space</a>
                   </li>
                   <li>
                     <a href="#/payment">Payment & Insurance</a>
                   </li>
                   <li>
                     <a href="#/forms">Important Forms</a>
                   </li>
                 </ul>

               <li class="dropdown">
                 <a data-toggle="dropdown" class="dropdown-toggle">Services<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li>
                     <a href="#/children">Children</a>
                   </li>
                   <li>
                     <a href="#/teens">Adolescents & Teens</a>
                   </li>
                   <li>
                     <a href="#/adults">Adults</a>
                   </li>
                   <li>
                     <a href="#/videocounseling">Video Counseling</a>
                   </li>
                   </ul>

               <li ng-class="{ active: isActive('/blog') }"><a href="#/blog">Blog</a></li>



             </ul>
           </div>
         </div>
       </div>
     </div>
-->

      <!--NAV BAR 2 - NO DROPDOWNS!!! -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- <a class="navbar-brand" href="#/">Clarity Counseling Services</a> -->
           </div>

           <div class="collapse navbar-collapse" id="js-navbar-collapse">

             <ul class="nav navbar-nav pull-right">

               <li ng-class="{ active: isActive('/blog') }"><a href="index.html">Welcome</a></li>

               <li ng-class="{ active: isActive('/blog') }"><a href="philosophy.html">Philosophy</a></li>

               <li ng-class="{ active: isActive('/blog') }"><a href="terri.html">Meet Terri</a></li>

               <li ng-class="{ active: isActive('/blog') }"><a href="contact.html">Contact Me</a></li>

               <li ng-class="{ active: isActive('/blog') }"><a href="blog.html">Blog</a></li>

               <li ng-class="{ active: isActive('/blog') }"><a href="payment.html">Insurance & Fees</a></li>



             </ul>
           </div>
         </div>
       </div>
     </div>


    <!-- Insert view here
    <div class="container">
      <div ng-view=""></div>
    </div>
-->
    <!-- page content -->
    <div class="container">
    <div class="banner">
      <img class="img-responsive" src="images/banner1.png" alt="mountain road">
    </div>

    <div class="jumbotron">
      <h1>Clarity Counseling Services</h1>
      <p class="lead">
        Mental Wellness Counseling - A Champaign Counseling Practice
      </p>
    </div>


    <div class="row marketing">


      <!-- <h3>Click below to learn how Clarity Counseling Services address a variety of needs:</h3> -->

      <div class="row hidden-sm hidden-xs visible-md-block visible-lg-block">

        <div class="col-md-3 frontlink"><a href="depression.html"><img src="images/man-square.png" alt="Anxiety/Depression" class="img-rounded img-responsive"></a><h3><a href="depression.html">Anxiety & Depression</a></h3></div>

        <div class="col-md-3 frontlink"><a href="grief.html"><img src="images/woman-square.png" alt="Grief & Loss" class="img-rounded img-responsive"></a><h3><a href="grief.html">Grief & Loss</a></h3></div>

        <div class="col-md-3 frontlink"><a href="adolescents.html"><img src="images/girl-square.png" alt="Child & Teen Issues" class="img-rounded img-responsive"></a><h3><a href="adolescents.html">Children & Teens</a></h3></div>

        <div class="col-md-3 frontlink"><a href="weight.html"><img src="images/eye-square.png" alt="Weight Issues" class="img-rounded img-responsive"></a><h3><a href="weight.html">Weight Issues</a></h3></div>
      </div>

      <div class="row mobile hidden-md hidden-lg">

        <div class="col-s-6 col-xs-6 frontlink"><a href="depression.html"><img src="images/man-square.png" alt="Anxiety/Depression" class="img-rounded img-responsive"></a><h5 ng-click="goto('/depression')">Anxiety & Depression</h5></div>

        <div class="col-s-6 col-xs-6 frontlink"><a href="grief.html"><img src="images/woman-square.png" alt="Grief & Loss" class="img-rounded img-responsive"></a><h4 ng-click="goto('/grief')">Grief & Loss</h4></div>

        <div class="col-s-6 col-xs-6 frontlink"><a href="adolescents.html"><img src="images/girl-square.png" alt="Child & Teen Issues" class="img-rounded img-responsive"></a><h4 ng-click="goto('/adolescents')">Children & Teens</h4></div>

        <div class="col-s-6 col-xs-6 frontlink"><a href="weight.html"><img src="images/eye-square.png" alt="Weight Issues" class="img-rounded img-responsive"></a><h4 ng-click="goto('/weight')">Weight Issues</h4></div>
      </div>

      <h2>Welcome!</h2>

      <div class="row">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <p>Hello, and welcome to my website! I'm Terri, founder of Clarity Counseling Services in Champaign, Illinois. I'd like to personally invite you to read on, and learn more about me
              and the experience of seeing a counselor.</p>
            <p>Whether you are looking to make a significant change in your life, need some assistance with coping skills, or need someone kind who will listen and be there for you, I think counseling
              may be right for you.  At one time or another we all need help to cope with life’s challenges. Clients have shared with me that therapy is life altering. You might think “if only I was
              emotionally stronger" or "I can just talk to my friend about this." Unfortunately in our busy world family members and friends are sometimes hard to talk to, or may not have the tools
              to address your specific concerns. </p>
            <p>I'm very familiar with the therapy process, and know that few people regret seeing a counselor. I've heard from clients that they found it helpful to have an outside, confidential
              person to talk to. They appreciated a different perspective or getting clarity on an issue that they had been struggling with for a long time.
              These are just a few comments that I have received from former clients:</p>
            <blockquote class="blockquote"><em>"If only I had known all along that it would be so helpful and supportive, and enjoyable!"</em></blockquote>
            <blockquote class="blockquote-reverse"><em>"I should have done this years ago. It’s like a heavy weight has been lifted off my back."</em></blockquote>

            <p>My clients describe me as a warm, understanding, and easy-going individual who is easy to talk to. I went into counseling because I enjoy working with people and feel that I have
              a knack for helping them. I enjoy providing clients with tools so they can go on and lead productive lives. You can learn more about me <a href="terri.html">here.</a></p>

            <p>I would be honored to work with you and make a positive contribution in your life. I am so glad that you have visited my website and hope you find the answers to your questions here. If
              you have any questions please <a href="contact.html">call or e-mail</a> me. I would be happy to discuss any questions you may have about the therapy process.
              On behalf of <abbr title="Clarity Counseling Services">CCS</abbr>, Welcome!</p>


            <div class="hidden-lg hidden-md hidden-sm visible-xs">
              <div class="well"><h4>Now accepting clients:</h4>
                <p><a href="contact.html">Contact me</a> to schedule a FREE fifteen-minute phone consultation. See my <a href="payment.html">insurance page</a> for more
                  information about fees and using insurance to pay for counseling services.</p></div>

              <div class="well"><h4>Unique Video Counseling available!</h4>
                <p>
                  I'm excited about trying new things, and am available for web-based video counseling over a secure network, using your computer,
                  computer camera, and internet access. Interested? <a href="contact.html">Contact me</a> and let me know you'd like to try video counseling,
                  and we will set up a session.</p></div>
            </div>

          </div>
          <div class="hidden-xs col-sm-6 col-md-4">
            <br>
            <br>
            <br>
            <div class="well"><h4>Now accepting clients:</h4>
              <p><a href="contact.html">Contact me</a> to schedule a FREE fifteen-minute phone consultation. See my <a href="payment.html">insurance page</a> for more
                information about fees and using insurance to pay for counseling services.</p></div>
            <br>
            <br>
            <div class="well"><h4>Unique Video Counseling available!</h4>
              <p>
                I'm excited about trying new things, and am available for web-based video counseling over a secure network, using your computer,
                computer camera, and internet access. Interested? <a href="contact.html">Contact me</a> and let me know you'd like to try video counseling,
                and we will set up a session.</p></div>
          </div>
        </div>
      </div>
    </div>
    </div>


    <div class="footer">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <address>
               <strong>Clarity Counseling Services</strong><br>
               Church Street Square Mall & Corporate Center<br>
               206 N. Randolph St, Suite M106<br>
               Champaign, IL 61820<br>
               <abbr title="Phone">P:</abbr> (217) 390-6819
             </address>
             </div>
           <div class="col-md-3">
             <p><a href="index.html">Welcome</a><br>
             <a href="philosophy.html">Philosophy</a><br>
             <a href="terri.html">Meet Terri</a><br>
             <a href="blog.html">Terri's Blog</a><br>
             <a href="payment.html">Insurance & Payment</a></p>
             </div>
           <div class="col-md-3">
             <p><a href="depression.html">Anxiety & Depression</a><br>
             <a href="grief.html">Grief & Loss</a><br>
             <a href="adolescents.html">Children & Teens</a><br>
             <a href="weight.html">Weight Issues</a></p>
             </div>
         </div>
<br>
         <div class="row">
         <div class="col-md-3 col-xs-6"><p>&copy; Terri Medwed, 2015</p></div>
         <div class="col-md-5 col-xs-0"></div>
         <div class="col-md-4 col-xs-6"><p><i class="fa fa-eye"></i> site design by <a href="http://erinmakes.com" target="_blank">erinmakes.com</a></p></div>
       </div>
       </div>



       </div>


     <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/clarity.js"></script>
        <!-- endbuild -->
</body>
</html>
