<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Choosing the Right Counselor for You - How do I choose a counselor?</title>
</head>
<body>

<div class="banner">
  <img class="img-responsive" src="images/woman-walking-banner.png" alt="woman walking down a wooded road">
</div>
<div class="jumbotron">
  <h1>CCS: Terri's Articles</h1>
</div>

<h3>Choosing the Right Counselor for You</h3>
<h4>June 5, 2015</h4>
<p>Choosing a counselor that is right for you can be a difficult process. This article’s intention is to address how to go about finding
  the right therapist in a methodical manner and make an educated decision on who is the right individual to help you heal.</p>
  <p>Yes you can go ahead and just pick one off the internet or yellow pages, but how can you be sure that it is a right match and long term achieve
    the results that you want out of the counseling process? Finding the right therapist will take some time and work but it is worth your time
    because the connection that you have with your therapist is essential in the recovery process.</p>
    <p>Know that therapy will not be effective unless you develop a bond with someone who you are comfortable with talking to about difficult areas in
      your life, or intimate issues. Below are some areas to consider and questions to ask while researching and interviewing potential therapists:</p>
<ul>
    <li>Check credentials/license-If you are paying for a licensed therapist make sure that the therapist holds a current license in the state of Illinois
      and is in good standing with the Illinois regulatory board.</li>
    <li>Experience-Ask the therapist how long they have been treating the issues that you are concerned with.  Look for a therapist with a focus on issues
      that you are experiencing which may give them more insight and awareness into what you are dealing with.</li>
    <li>Treatment/Theory Orientation-It may be important to identify what treatment theory the therapist uses, knowing the orientation can help you understand
      his or her way of relating and the length of the treatment. Does the therapist use a collaborative approach to counseling where both are partners in the
      journey, or is it more of a top down approach?  If you are unsure of the treatment orientation, you can google the theory and learn more about it.</li>
    <li>Trust your gut-If the connection does not feel right, you don’t trust the therapist or you do not feel that they understand you, go with another choice.
      Ask if the therapist has a free 10-15 minute phone consultation to help answer some questions and decide if they are right for you.</li>
</ul>
  <p>During the first two sessions you will begin to form a connection with the therapist while he or she is learning about you.  This is a good time to talk
    about what you hope to achieve in the therapy, goals benchmarks and a means of measuring your progress. GOOD LUCK!</p>


<h4><a href="#/articles">Return to Articles</a></h4>
</body>
</html>
