<div class="banner">
  <img class="img-responsive" src="images/forestfloor-banner.png" alt="flower-filled forest">
</div>
<br>
<p class="lead"><em>"Counseling is a professional relationship that empowers diverse individuals, families, & groups to accomplish mental health, wellness, education, and career goals." </em><small> - ACA (American Counseling Association), 2015</small></p>


<p>Hello, and welcome to my website! I'm Terri, owner of Clarity Counseling Services in Champaign, Illinois. I'd like to personally invite you to read on, and learn more about me and the experience of seeing a counselor.</p>
<p>Many people think that going to a therapist may be uncomfortable, or that they should be able to handle their personal or family issues by themselves. You might think “if only I was emotionally stronger then I wouldn’t have to rely on someone else.  I can just talk to my friend or family member to gain insight as to how address this issue." Unfortunately in our busy world family members and friends are sometimes hard to talk to, or may not have the tools to address your specific concerns.  To make matters worse, our society sometimes places a strong stigma on those individuals that seek counseling.</p>
<p>I'm familiar with the counseling process, and know that few people regret seeing a counselor. I've heard from clients that they found it helpful to have an outside, confidential person to talk to. They appreciated a different perspective or getting clarity on an issue that they have been struggling with for a long time. These are just a few comments that I have received from former clients:</p>
<blockquote class="blockquote">"If only I had known all along that it would be so helpful and supportive, along with being enjoyable!"</blockquote>
<blockquote class="blockquote-reverse">"I should have done this years ago. It’s like a heavy weight has been lifted off my back."</blockquote>

<p>My clients describe me as a warm, understanding and easy-going individual that is easy to talk to. I went into counseling because I enjoy working with people and feel that I have a knack for helping them. I enjoy providing clients with tools so they can go on and lead productive lives. You can learn more about me <a href="#/terri">here.</a></p>
