<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="banner">
  <img class="img-responsive" src="images/girlbeach-banner.png" alt="young girl exploring the beach">
</div>
<br>
<h2>Therapy with Children, Adolescents, and Teens</h2>
<p>Clarity Counseling works with children and adolescents starting at age 3 and upward using play therapy for younger children.
  Play therapy allows children to express and work through their emotions in a safe, warm, and nurturing environment.
  In addition to sessions with children, I will meet with parents and other family members as needed.</p>

  <p>A variety of methods are used when working with children including Puppet Play Therapy, Art Therapy, and Sand Tray Therapy.
  I have worked with different types of families including divorced, step/blended families, single parent families, gay or lesbian families,
    military families and families in transition and crisis situations. I begin by working with the family to define the goal for therapy for
    their child. An individual treatment plan is written for the family member, and we will frequently review the plan to ensure that we are making progress.
  I do not push my ideas or values on families, but work with each family's own unique value system. I will lay out various options and will make
    recommendations, but I never forget that it is the parent's choice about how to raise their own child.</p>
</p>

<div class="row">
  <div class="col-md-2"> </div>
  <div class="col-md-3"><img src="images/art-supplies.jpg" alt="Art Supplies" class="img-rounded img-responsive"></div>
  <div class="col-md-2"> </div>
  <div class="col-md-3"><img src="images/kid-picture.jpg" alt="Smiley Sun - Kid Art" class="img-rounded img-responsive"></div>
  <div class="col-md-2"> </div>
</div>
</body>
</html>
