<div class="banner">
  <img class="img-responsive" src="images/banner1.png" alt="mountain road">
</div>
<div class="jumbotron">
  <h2>Clarity Counseling Services</h2>
  <h3>
    Terri's Blog
  </h3>
</div>

<h3><a href="#/5-25-15">Choosing a Counselor</a></h3>
<h4>May 25, 2015</h4>
<p>Choosing a counselor that is right for you can be a difficult process. This article’s intention is to address how to go about finding
  the right therapist in a methodical manner and make an educated decision on who is the right individual to help you heal.
  Yes you can go ahead and just pick one off the internet or yellow pages, but how can you be sure that it is a right match and long term achieve
  the results that you want out of the counseling process? Finding the right therapist will take....<em><a href="#/5-25-15">Read more</a></em></p>

<!-- playing around:
<p>Today's Date:</p>
<input type="text" ng-model="current.date"/> {{current.date}}
<br>

<p>Post Title:</p>
<input type="text" ng-model="post.title"/> {{post.title}}
<br>

<p>Write your post here:</p>
<input type="text"
-->
