<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>

<body ng-controller="ContactCtrl">

<div class="banner">
  <img class="img-responsive" src="images/waterbase-banner.png" alt="waterfall">
</div>

<h2>Contact Me</h2>

<p>For now, please contact me directly with any questions or to schedule an appointment.</p>

<p>Email Terri: <a href="mailto:terri@claritycounselingservices.com?Subject=CCS%20Contact" target="_top">terri@claritycounselingservices.com</a></p>
<p>Call Terri: 217-390-6819</p>

<h2>Location:</h2>
<div class="row">
  <div class="col-md-3 col-xs-6"><p>Clarity Counseling Services is located at 206 N. Randolph Street, at the Church Street Square Mall & Corporate Center, in Suite M106.</p></div>
  <div class="col-md-3 col-xs-6"><img src="images/storefront.png" alt="Church Street Square mall & conference center" class="img-rounded img-responsive"></div>
  </div>

<h3>Please use the form below to send an email directly to Clarity Counseling Services:</h3>

<!-- Contact Form based on http://www.bossable.com/1745/angularjs-material-design-contact-form/

<div data-ng-controller="ContactFormController as cf" flex layout="row" layout-align="center center">
  <form name="contactForm" data-ng-submit="cf.sendMail()">
    Name: <br> <input ng-model="cf.contactName" required> <br> <br>
    Email:<br> <input type="email" ng-model="cf.contactEmail" required> <br> <br>
    Message: <br> <textarea ng-model="cf.contactMsg" columns="1" required></textarea> <br>
    <button type="submit">Send</button>
  </form>
</div>

<div data-ng-controller="ContactFormController as cf" flex layout="row" layout-align="center center">
  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
    <md-content class="md-padding">
      <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
        <form name="contactForm" data-ng-submit="cf.sendMail()">
          <md-input-container>
            <label>Name:</label>
            <input ng-model="cf.contactName" required>
          </md-input-container>
          <md-input-container flex>
            <label>Email:</label>
            <input type="email" ng-model="cf.contactEmail" required>
          </md-input-container>

          <md-input-container>
            <label>Message:</label>
            <textarea ng-model="cf.contactMsg" columns="1" md-maxlength="150" required></textarea>
          </md-input-container>

          <md-button type="submit" class="md-primary"
                     ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"
                     aria-label="Save Project">Send</md-button>
        </form>
      </div>
    </md-content>
  </div>
</div>


<!--
<form name="emailForm">
  <div class="group">
    <label>To:</label><br>
    <input type="email" name="to" ng-model="email.to" ng-required="true">

  </div>
  <div>
    <label>From:</label><br>
    <input type="email" name="from" ng-model="email.from" ng-required="true">
  </div>
  <div>
    <label>Subject:</label><br>
    <input type="text" name="subject" ng-model="email.subject" ng-required="true">

  </div>
  <div>
    <label>Message</label><br>
    <textarea ng-model="email.text" name="text" placeholder="Enter Text Here.."></textarea>
  </div>

  <button id="emailSubmitBn" type="submit" ng-click="submitEmail()">
    Submit
  </button>
</form>
-->
</body>
</html>
