<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>

<body ng-controller="ContactCtrl">

<div class="banner">
  <img class="img-responsive" src="images/waterbase-banner.png" alt="waterfall">
</div>

<h2>Contact Me</h2>

<p>For now, please contact me directly with any questions or to schedule an appointment.</p>

<p>Email Terri: <a href="mailto:terri@claritycounselingservices.com?Subject=CCS%20Contact" target="_top">terri@claritycounselingservices.com</a></p>
<p>Call Terri: 217-390-6819</p>

<h2>Location:</h2>
<div class="row">
  <div class="col-md-3"><p>Clarity Counseling Services is located at 206 N. Randolph Street, at the Church Street Square Mall & Corporate Center, in Suite M220.</p></div>
  <div class="col-md-3"><img src="images/storefront.png" alt="Church Street Square mall & conference center" class="img-rounded img-responsive"></div>
  </div>


<!--
<form name="emailForm">
  <div class="group">
    <label>To:</label><br>
    <input type="email" name="to" ng-model="email.to" ng-required="true">

  </div>
  <div>
    <label>From:</label><br>
    <input type="email" name="from" ng-model="email.from" ng-required="true">
  </div>
  <div>
    <label>Subject:</label><br>
    <input type="text" name="subject" ng-model="email.subject" ng-required="true">

  </div>
  <div>
    <label>Message</label><br>
    <textarea ng-model="email.text" name="text" placeholder="Enter Text Here.."></textarea>
  </div>

  <button id="emailSubmitBn" type="submit" ng-click="submitEmail()">
    Submit
  </button>
</form>
-->
</body>
</html>
