
<div class="banner">
  <img class="img-responsive" src="images/manfield-banner.png" alt="man looks over empty field">
</div>
<br>

<h2>Anxiety & Depression</h2>

<p class="lead">Are you in a situation where you find yourself worrying too much?
Are you sad and unhappy, or usually just feel down?</p>
<blockquote class="blockquote-reverse">Do you have to drag yourself out of bed or convince yourself just to get a simple task completed?</blockquote>
  <blockquote class="blockwuote">Or maybe you just avoid people, family members, or social situations more often than you should?</blockquote>
<p>If you answered yes to any of the above you are most likely dealing with some form of anxiety or depression. Depression and anxiety are serious
  problems that can darken your vision and distort thinking, while draining the joy and happiness out of your life.</p>
<p>Nearly a quarter of the people in the world will experience significant problems with anxiety at some point in their lives and close to
  twenty percent deal with some form of depression. Some people suffer from both anxiety and depression.</p>
<p>At Clarity Counseling Services I help my clients get back on track by giving them research-based strategies to help them defeat depression and overcome anxiety.
  <a href="#/contact">Make an appointment today!</a></p>
