<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clarity Counseling Service - Grief & Loss</title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/canoe1-banner.png" alt="man and dog canoe on lake">
</div>
<br>

<h2>Grief & Loss</h2>
<p class="lead">Whether we lose a family member, close friend or pet it hurts - it often hurts a lot! We feel a sense of loss, abandonment, anger
  and even sometimes guilt.  Over a period of time we can experience many different emotions and feelings that we are unsure of how to handle. All we
  know is that we don’t quite feel like our normal selves and the world seems very different and unfamiliar.</p>
<p>Sometimes after a period of time the hurt becomes quite manageable and we are able to regroup, rebound and move on with our lives holding on to
  cherished memories of our loved ones. But sometimes we are not able to move forward, getting immersed in the pain and sadness of our loss.
Too often our society expects us to just “get on with our lives” and not dwell in the past, but for many of us it is a debilitating experience
  where we just feel stuck!</p>
<p>At Clarity Counseling Service I help the griever look at his or her resources and empower them to embrace the new reality of moving
  forward in life without the physical presence of the loved one who died.</p>

</body>
</html>
