<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clarity Counseling Service - Grief & Loss</title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/canoe1-banner.png" alt="man and dog canoe on lake">
</div>
<br>

<h2>Grief & Loss</h2>
<p>Whether we lose a family member, close friend, or pet, it hurts - it often hurts a lot! We feel a sense of loss, abandonment, anger
  and sometimes guilt.  Over a period of time we can experience many different emotions and feelings that we don't know how to handle. All we
  know is that we don’t feel like our normal selves, and the world seems very different and unfamiliar.</p>
<div class="row">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <p>Sometimes after a period of time the hurt becomes manageable and we are able to regroup, rebound, and move forward, while cherishing our memories.
  But sometimes we get immersed in the pain and sadness of our loss. Too often, our society expects us to just “get on with our lives” and
  not dwell in the past, but for many of us it is a debilitating experience where we just feel stuck!</p>
  <p>At <abbr title="Clarity Counseling Services">CCS</abbr>, I help the griever look at his or her resources and empower them to embrace the new reality of moving
  forward in life without the physical presence of the loved one who died.</p>
  </div>
  <div class="col-md-3 col-sm-6 hidden-xs">
    <img src="images/despair.jpg" alt="despaired man" class="img-responsive img-rounded">
  </div>
</div>
<div class="row">
  <br>
</div>


</body>
</html>
