<div class="jumbotron">
  <h1>Solutions Therapy</h1>
  <p class="lead">
    Counseling that works for you.
  </p>
</div>

<div class="row frontlink">
  <div class="col-md-3 col-xs-6"><img src="images/window-square.png" alt="Depression" class="img-rounded img-responsive">Depression</div>

  <div class="col-md-3 col-xs-6"><img src="images/woman-square.png" alt="Grief & Loss" class="img-rounded img-responsive">Grief & Loss</div>

  <div class="col-md-3 col-xs-6"><img src="images/boy-square.png" alt="Teen & Adolescent Issues" class="img-rounded img-responsive">Teens & Adolescents</div>

  <div class="col-md-3 col-xs-6"><img src="images/eye-square.png" alt="Weight Issues" class="img-rounded img-responsive">Weight Issues</div>
</div>

<div class="row marketing">
  <h4>Solutions Counseling is blah blah blah!</h4>
  <p>
    Offering unique video counseling for those who benefit from distance sessions.
  </p>

  <h4>Now accepting clients!</h4>
  <p>
    Click on "About" above for more information about scheduling appointments.  </p>
</div>
