<div class="banner">
  <img class="img-responsive" src="images/banner1.png" alt="mountain road">
</div>

<div class="jumbotron">
  <h1>Clarity Counseling Services</h1>
  <p class="lead">
    Private counseling in Champaign, Illinois
  </p>
</div>


<div class="row">

  <div class="col-md-2.5 col-xs-5 frontlink"><a href="#/depression"><img src="images/man-square.png" alt="Anxiety/Depression" class="img-rounded img-responsive"></a><h3 ng-click="goto('/depression')">Anxiety/Depression</h3></div>
  <div class="col-md-.6 col-xs-1"></div>
  <div class="col-md-2.5 col-xs-5 frontlink"><a href="#/grief"><img src="images/woman-square.png" alt="Grief & Loss" class="img-rounded img-responsive"></a><h3 ng-click="goto('/grief')">Grief & Loss</h3></div>
  <div class="col-md-.7 col-xs-0"></div>
  <div class="col-md-2.5 col-xs-5 frontlink"><a href="#/adolescents"><img src="images/girl-square.png" alt="Child & Teen Issues" class="img-rounded img-responsive"></a><h3 ng-click="goto('/adolescents')">Children & Teens</h3></div>
  <div class="col-md-.6 col-xs-1"></div>
  <div class="col-md-2.5 col-xs-5 frontlink"><a href="#/weight"><img src="images/eye-square.png" alt="Weight Issues" class="img-rounded img-responsive"></a><h3 ng-click="goto('/weight')">Weight Issues</h3></div>
</div>

<div class="row marketing">
<h2>Welcome!</h2>
  <p>Clarity Counseling Services is the private practice of Terri Medwed, in Champaign, IL.</p>
  <p>Whether you are looking to make a significant change in your life, need some assistance with coping skills, or need someone kind who will listen and be there for you, I think counseling is right for you.  At one time or another we all need help to cope with life’s challenges. Other times we feel stuck and have difficulty taking the next important step.</p>
  <p>Clients have shared with me that therapy is life altering. Sometimes it can be difficult and not always comfortable, but the outcome of good therapy where there is a trusting relationship between the client and therapist means growth and a positive change in one’s life.</p>
  <p>I would be honored to work with you and make a positive contribution in your life. I am so glad that you have visited my website and hope you find the answers to your questions here. If you have any questions please call or e-mail me. I would be happy to discuss any questions your may have about the process. On behalf of Clarity Counseling Services, Welcome!</p>


  <h3>Now accepting clients:</h3>
  <p><a href="#/contact">Contact me</a> to schedule a FREE ten-minute session. See my <a href="#/insurance">insurance page</a> for more information about fees and using insurance to pay for counseling services.</p>
<br>
  <h3>Unique Video Counseling available!</h3>
  <p>
I'm excited about trying new things, and am available for web-based video counseling over a secure network, using your computer, computer camera, and internet access. Interested? <a href="#/contact">Contact me</a> and let me know you'd like to try video counseling, and we will set up a session.</p>
</div>
