<div class="jumbotron">
  <h1>Clarity Counseling Services</h1>
  <p class="lead">
    Counseling that works for you.
  </p>
</div>


<div class="row">

  <div class="col-md-3 col-xs-6 frontlink"><a href="#/depression"><img src="images/window-square.png" alt="Depression" class="img-rounded img-responsive"></a><h3 ng-click="goto('#/depression')">Depression</h3></div>

  <div class="col-md-3 col-xs-6 frontlink"><a href="#/grief"><img src="images/woman-square.png" alt="Grief & Loss" class="img-rounded img-responsive"></a><h3 ng-click="goto('#/grief')">Grief & Loss</h3></div>

  <div class="col-md-3 col-xs-6 frontlink"><a href="#/adolescents"><img src="images/boy-square.png" alt="Teen & Adolescent Issues" class="img-rounded img-responsive"></a><h3 ng-click="goto('#/adolescents')">Teens & Adolescents</h3></div>

  <div class="col-md-3 col-xs-6 frontlink"><a href="#/weight"><img src="images/eye-square.png" alt="Weight Issues" class="img-rounded img-responsive"></a><h3 ng-click="goto('#/weight')">Weight Issues</h3></div>
</div>

<div class="row marketing">
  <h4>Solutions Counseling is blah blah blah!!!</h4>
  <p>
    Offering unique video counseling for those who benefit from distance sessions.
  </p>

  <h4>Now accepting clients!</h4>
  <p>
    Click on "About" above for more information about scheduling appointments.  </p>
</div>
