<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/bubble-banner.png" alt="rising bubbles">
</div>
<br>
<h1>Policies & Fees</h1>
<h2>Insurance</h2>
<p>Please contact your insurance company or employer to see if you have mental health coverage or an Employee Assistance Program (EAP). It's a good idea to do this before your first appointment. When you contact your insurance company or employer, ask:
  <ul>
  <li>What types of behavioral issues are covered?</li>
  <li>How many sessions are covered?</li>
  <li>Do I have a deductible? Has it been met?</li>
  <li>What is my co-pay?</li>
  <li>Is authorization required?</li>
</ul>

Clarity Counseling Services is an approved mental health provider agency on several managed care panels including:
<ul>
  <li>Magellan</li>
  <li>Aetna</li>
  <li>More coming soon!</li>
</ul>
If you are insured with any other insurance company it is my preference that you pay for the session at the time of your appointment. I will complete the insurance claim form which you will send to your insurance company, and they will reimburse you according to your plan.
If providing payment upfront is an issue for you I am happy to discuss other options including a payment plan. I will try to assist you in any way possible.
I accept cash, personal checks (in state), Visa, MasterCard, American Express and Discover.</p>

<h2>Therapy Session Fee:</h2>
<p>60 minutes - $125</p>

<h2>Cancellation Policy</h2>
<p>A 24-hour notice of cancellation is required, otherwise you will be charged for the full fee for the session.</p>
<p><em>Please Note: Insurance companies will not reimburse for this fee.</em></p>


<h2>Workshops</h2>
<p>I conduct workshops on a range of topics including parenting skills, managing stress and improving communication.
If you are interested in having a workshop conducted at your organization please contact me.</p>

<!-- <p>Follow me on Facebook to gain access to useful articles, links and information about my workshops.</p> -->
</body>
</html>
