<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/bubble-banner.png" alt="rising bubbles">
</div>
<br>
<h1>Policies & Fees</h1>
<h2>Insurance</h2>
<p>Please contact your insurance company to see if you have mental health coverage or your employer if you have Employee Assistance Program (EAP). It is advisable to do this before your first appointment.
Please be aware of type of behavioral insurance coverage, number of sessions that are covered, is there a deductible and has it been met, do you have a co-pay and is authorization required.
Clarity Counseling Services is an approved mental health provider agency on several managed care panels including: Magellan and Aetna. We are in the process of expanding this list.
If you are insured with any other insurance company it is my preference that you pay for the session at the time of your appointment. I will complete the insurance claim form which you will send to your insurance company and they will reimburse you according to your plan.
If payment is an issue for you I am happy to discuss other options including a payment plan. We will try to assist you in any way possible.
I accept cash, personal check (in state) Visa, MasterCard, American Express and Discover.</p>

<h2>Cancellation Policy</h2>
<p>A 24 hour notice of cancellation is required otherwise you will be charged for the full fee for the session.
Please Note: Insurance companies will not reimburse for this fee.</p>

<h2>Therapy Session Fee:</h2>
<p>60 minutes-$125.</p>

<h2>Workshops</h2>
<p>I conduct workshops on a range of topics from parenting skills, managing stress and improving on communication skills (to name a few).
If you are interested in having a workshop conducted at your organization please contact me at CCS.</p>

<p>Follow me on Facebook to gain access to useful articles, links and information about my workshops.</p>
</body>
</html>
