<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="banner">
    <img class="img-responsive" src="images/hill-banner.png" alt="mossy hills">
  </div>
    <br>
    <h1>Philosophy</h1>
<p class="lead">Taking the steps to improve yourself, work on your relationship, or help your children is an important decision and it is wise to understand the process beforehand. Therapy will vary for each individual depending on the circumstances, past experiences and current concerns.</p>
<p> I provide clients a safe, comfortable and confidential environment to work through issues and discover how they may be impacting current emotions and behaviors. If you find yourself repeating the same behaviors repeatedly you may benefit from taking the time and examining these issues more closely to make a positive change.</p>
<p>Many times clients will find new perspectives on how to view current circumstances or relationships and feel supported and empowered to make needed changes and become a more congruent self-confident individuals.</p>
<p>Life always isn’t fair and many times it’s really not very easy. We all stumble along the way and we might not be able to control what exactly happens to us but we do have control over how we react and cope with the situation.  As the old saying goes “when life hands you lemons make lemonade”.</p>
<p>Clarity Counseling Service is based on the idea that various areas in one’s life can be brought together for positive change. Failure, dissatisfaction and unhappiness in the past does not mean more of the same old thing in the future. Clients have the opportunity to be heard and maximize the change process during the therapy session and with activities in between sessions when needed to gain maximum results. Each client has the ability to change. Together the therapist and client are partners in change where the client is in the driver’s seat!</p>
</body>
</html>
