<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<div class="banner">
  <img class="img-responsive" src="images/banner1.png" alt="mountain road">
</div>
<body>
<h1>Adolescents & Teens</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum, libero vitae tincidunt ornare, ligula erat tincidunt lorem, id mollis ipsum libero eget sem. Nullam molestie, mauris at pulvinar finibus, tortor augue pharetra arcu, nec tristique est nisl ut ante.</p>
<blockquote class="blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<p>In sed auctor sapien. Quisque commodo pharetra turpis quis tincidunt. Phasellus dictum urna at magna pretium, sit amet suscipit orci accumsan. Cras sit amet nisi in orci vehicula aliquam ultricies et sapien. Suspendisse in aliquet ex, in elementum mi. Proin sed rhoncus ipsum. Morbi auctor molestie enim ut facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas in pellentesque ex, sit amet viverra elit. Morbi vulputate pharetra nisi quis pharetra. Maecenas placerat eros eu est suscipit, sed pretium massa congue.</p>
<p>Vivamus a dictum magna, vel pulvinar lacus. Nunc vestibulum euismod suscipit. Donec ligula odio, feugiat id est ut, aliquet tincidunt ipsum. Maecenas malesuada arcu eget dignissim mattis. Praesent pharetra lectus est, in feugiat augue convallis in. Vivamus a ipsum at nisl tincidunt faucibus ut et nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer fringilla ipsum felis, nec dignissim orci aliquam vitae.
</body>
</html>
