<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/hill-banner.png" alt="mossy hills">
</div>
<br>
<h1>Meet Terri</h1>

<div class="row">

  <div class="col-md-3 col-xs-6"><img src="images/terrim.png" alt="Terri & her son's dog" class="img-rounded img-responsive"></div>

  <div class="col-md-9 col-xs-6"><p class="lead">Terri Medwed is a Licensed Clinical Professional Counselor (LCPC) with over 20 years’ experience working with children, adolescents, adults and seniors. She earned her B.S. in Education from Northern Illinois University, an MA in Organizational Behavior from the University of Chicago and a MA in Counseling from Eastern Illinois University. She has worked in a variety of treatment settings including community based behavioral health center, schools and private practice.</p><p class="lead">Currently Terri is in private practice where she sees children, adolescents, adults and seniors with a variety of presenting issues.</p></div>

</div>
<p>She is a member of the American Counseling Association (ACA) and the American Mental Health Counselors Association (AMHCA).  She is licensed in the State of Illinois #_____________________.</p>
<p>Terri utilizes numerous approaches when doing therapy with individuals, couples and families. She has over 20 years’ experience working with at risk youth and individuals. She believes that all counseling should be meaningful helpful and focused while seeing results. Clients learn to believe in themselves and gain a better understanding in their own inner resources.</p>
<p>Terri Medwed is a licensed Clinical Professional Counselor who helps angry kids, frustrated parents and just about everyone else!</p>
</body>
</html>
