<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clarity Counseling Services - Weight Issues</title>
</head>
<body>
<div class="banner">
  <img class="img-responsive" src="images/woman-water-banner.png" alt="woman overlooking mountains">
</div>
<br>
<h2>Weight & Eating Issues</h2>

<p class="lead">At Clarity Counseling Services, I work with clients to get to the root of their weight, self-image, or eating issues, rather than commanding them
  to change their behavior. </p>
  I begin by working with clients to define what their issues are and when their problem behaviors are occurring. Together, we identify the negative messages
  that clients often unknowingly send to themselves which activate their problem behaviors.</p>
  <p>If you have lost and gained the same pounds numerous times, just going on a diet will not resolve the issue. Too often clients are placed on a diet
    without examining what the issues are and become frustrated with the results.</p>
  <p>At Clarity Counseling I focus on the underlying issues; not the symptoms. I work with clients to develop a personalized plan to move toward a
    healthier lifestyle.</p>
</body>
</html>
